body {
    font-family: Arial, sans-serif;
    background: rgb(54, 0, 0);
    overflow: hidden;
}


* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

select {
    padding: 3px 20px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    background: #2B85ED;
}

select.language {
    position: absolute;
    bottom: -36px;
    left: 177px;
}

a {
    color: white;
}

h1, h2, h3, h4, h5, h6, input[readonly], p {
    cursor: default;
}

div.container {
    position: absolute;
    top: 70%;
    margin-top: -315px;
    text-align: center;
    left: 50%;
    background: #2B85ED;
    color: white;
    margin-left: -515px;
    padding: 30px;
    border-bottom: 11px solid white;
    width: 960px;
    height: 570px;
}

div.container h1 {
    font-size: 55px;
    margin: -10px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    font-weight: 100;
}

div.container h2.small {
    font-size: 20px;
}

/* elements css  */
.tube-hg {
    height: 59px;
    width: 160px;
    background: rgb(255, 102, 0);
    border: 2px solid white;
    border-radius: 70px;
}

.tube-hg .text {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.screen {
    position: absolute;
    top: 120px;
    left: 100px;
}

.screen * {
    position: absolute;
}

/* lines */
.line.l1 { top: 12px; left: 32px; }
.line.l2 { top: 12px; left: 130px; }
.line.l3 { top: 47px; left: 35px; }
.line.l4 { top: 1px; left: 123px; height: 110px !important; }
.line.l5 { top: 30px; left: 140px; }
.line.l6 { top: 30px; left: 337px; }
.line.l7 { top: 110px; left: 37px; width: 303px !important; }
.line.l8 { top: 30px; left: 337px; }

/* line */

.line.v { width: 3px; height: 40px; }
.line.v.bold { width: 10px; }
.line.v.rounded { border-radius: 3px; }
.line.v.rounded.bold { border-radius: 5px; }

.line.v.long { height: 90px; }
.line.v.e-long { height: 200px; }

.line.v.e-short { height: 20px; }
.line.v.short   { height: 50px; }
.line.v.medium  { height: 70px; }
.line.v.long    { height: 80px; }
.line.v.e-long  { height: 200px; }

.line.h         { height: 3px; }
.line.h.e-short { width: 20px; }
.line.h.short   { width: 50px; }
.line.h.medium  { width: 70px; }
.line.h.long    { width: 90px; }
.line.h.e-long  { width: 200px; }

.line.v.white.dashed {
    width: 0;
    border-right: 2px dashed white;
    background: transparent;
}

.line.red { background: rgb(151, 36, 0); }
.line.white { background: white; }

/* source */
.source.s3 {
    top: 90px;
    left: 230px;
}

.source .line.min {
    position: absolute;
    left: 0;
    top: 12px;
}

.source .line.plus {
    position: absolute;
    left: 10px;
    top: 0;
}

.source.inversed .line.min {
    left: 10px;
    top: 0;
}

.source.inversed .line.plus {
    left: 0;
    top: 12px;
}


.source .line.min .text {
    top: -29px;
    left: -5px;
}

.source .line.plus .text {
    top: -15px;
    left: 5px;
}

.source > .text {
    top: 45px;
    left: -3px;
}

.source .text {
    position: absolute;
    font-weight: bold;
}

.system {
    width: 570px;
    left: -80px;
}
.physics-instrument {
    width: 90px;
    height: 90px;
    background: rgb(0, 110, 153);
    border: 2px solid rgb(0, 72, 138);
}
.physics-instrument > input.value {
    border: none;
    position: absolute;
    left: 7px;
    width: 69px;
    padding: 3px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    top: 5px;
}
.physics-instrument .text {
    bottom: 6px;
    left: 1px;
    border-top: 1px solid white;
    width: 89px;
    padding: 10px 0 0 0;
    font-weight: bold;
}
.physics-instrument.amp {
    top: 15px;
    left: 316px;
}
.physics-instrument.vol {
    top: 165px;
    left: -4px;
}

div.cursor {
  width: 10px;
  height: 87px;
  background: rgb(245, 181, 85);
  top: 214px;
  left: 160px;
  cursor: pointer;
  border-radius: 0 0 14px 14px;
}

div.button {
    background: #2B85ED;
    padding: 10px 25px 10px 20px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
}

div.button.theory-switch {
    bottom: -49px;
    left: 0;
}

div.button:hover {
    background: #004FAA;
}

div.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition:    all 300ms linear;
    -o-transition:      all 300ms linear;
    -ms-transition:     all 300ms linear;
    transition:         all 300ms linear;
}

.docs {
    position: absolute;
    top: 120px;
    left: 0;
    display: none;
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

/* graph */
div#graph {
    width: 410px;
    height: 330px;
    background: #2980B9;
    position: absolute;
    top: 10px;
    left: 490px;
}

div.container p.copyright {
    color: white;
    bottom: -56px;
    position: absolute;
    right: 0;
}

p.copyright a {
    color: white;
    font-weight: bold;
}
